h2, h3, h4, h5, h6 {
    color: #bef0ff !important;
}

.text-cornflower-blue {
    color: #bef0ff
}

.full-bg {
  min-height: 100vh;
  background-image: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExNmthb3gyd3prbnp6cno5N3RreXYzNHc5ZWExbmFjeno1aHd3dnBlNiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/jaOXKCxtBPLieRLI0c/giphy.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #648EDF;
}

.object {
    background: linear-gradient(to bottom right, #132087, #2847B0);
}

.hero-bg {
  background-color: #648EDF;
  color: white;
  border: 5px;
  font-weight: bold;
  padding: 0.8rem, 2.5rem;
  font-size: 1.2rem;
}

.navbar-link {
  position: relative; /* Needed for the underline positioning */
  display: inline-block; /* Ensures the underline width matches the text */
  padding-bottom: 5px; /* Space between text and underline */
  transition: all 0.3s ease-in-out; /* Smooth transition for underline */
  overflow: hidden; /* This hides the initial underline */
  text-decoration: none !important; /* Override default Bootstrap underline */
}

.navbar-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Starts hidden */
  height: 2px; /* Underline thickness */
  background-color: black; /* Underline color */
  transition: width 0.3s ease-in-out; /* Smooth width transition */
}

.navbar-link.active::after {
  width: 100%; /* Becomes full width when active */
}

/* Optional: Add a subtle hover effect for inactive links if desired */
.navbar-link:not(.active):hover::after {
  width: 50%; /* Underline appears halfway on hover for non-active links */
  background-color: lightgray; /* Or any other hover color */
}

.tech-grid-container {
    max-width: 700px; /* Limit the overall width of the grid for better visual balance */
    margin: 0 auto; /* Center the entire grid of items */
    /* d-flex, flex-wrap, justify-content-center, gap-3 are in JSX */
}

.icon-link:hover {
  color: rgb(93, 217, 255) !important; /* Change color on hover, or a lighter golden color */
  transform: scale(1.2); /* Slightly enlarge on hover */
}